.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
    
}
 
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg , #DA7C25 0.36%,#B923EB 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);

}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open  , .nav-mob-close{
    display: none;
}
@media  (max-width: 768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 20px;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 15px;
        left: 90px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        gap: 30px;
        backdrop-filter: blur(8px);
      
        width: 240px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;

    }
    .nav-menu li{
        font-size: 25px;
        padding-left:100px ;
        flex-direction: row;
        gap: 30px;
        margin-right: 70px;
        width: 50%;
    }
   
}